<div class="markerInfoWindow">

    <p>
        <span class="markerInfoWindow_label">Address: </span>{{parameter.zillowData.zillowAddress}}
    </p>

    <p>
        <span class="markerInfoWindow_label">Auction Number: </span>{{parameter.auctionNumber}}
        <span class="markerInfoWindow_label">Docket Number: </span>{{parameter.docketNumber}}
    </p>

    <p>
        <span class="markerInfoWindow_label">Sqft: </span>{{parameter.zillowData.sqft | number:0}}
        <span class="markerInfoWindow_label">Rooms: </span>{{parameter.zillowData.rooms}}
        <span class="markerInfoWindow_label">Baths: </span>{{parameter.zillowData.bath}}
    </p>

    <p>
        <span class="markerInfoWindow_label">Last Sold Price: </span>{{parameter.zillowData.lastSoldPrice | currency:"$":0}}
        <span class="markerInfoWindow_label">Last Sold Date: </span>{{parameter.zillowData.lastSoldDate | date: 'MMM dd, yyyy'}}
    </p>

    <p>
        <span class="markerInfoWindow_label">Tax Estimate: </span>{{parameter.zillowData.taxAssessment | currency:"$":0}}
        <span class="markerInfoWindow_label">Zillow Estimate: </span>{{parameter.zillowData.zillowEstimate | currency:"$":0}}
    </p>

    <p>
        <span class="markerInfoWindow_label">Zillow Link: </span><a href="{{parameter.zillowData.zillowLink}}" target="_blank" role="button">{{parameter.zillowData.zillowLink | limitTo:42}}...</a>
    </p>

</div>